@font-face {
  font-family: "achaplorer-icons";
  src: url("assets/fonts/achaplorer-icons.ttf?l6ng5p") format("truetype"), url("assets/fonts/achaplorer-icons.woff?l6ng5p") format("woff"), url("assets/fonts/achaplorer-icons.svg?l6ng5p#achaplorer-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=ap-icon-], [class*=" ap-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "achaplorer-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ap-icon-archive:before {
  content: "\e996";
}

.ap-icon-file-empty:before {
  content: "\e99d";
}

.ap-icon-files-empty:before {
  content: "\e99f";
}

.ap-icon-file-plus:before {
  content: "\e9a1";
}

.ap-icon-file-minus:before {
  content: "\e9a3";
}

.ap-icon-file-check:before {
  content: "\e9a9";
}

.ap-icon-file-eye:before {
  content: "\e9ab";
}

.ap-icon-file-eye2:before {
  content: "\e9ac";
}

.ap-icon-file-text2:before {
  content: "\e9ad";
}

.ap-icon-file-text3:before {
  content: "\e9ae";
}

.ap-icon-file-picture:before {
  content: "\e9af";
}

.ap-icon-file-picture2:before {
  content: "\e9b0";
}

.ap-icon-file-music:before {
  content: "\e9b1";
}

.ap-icon-file-music2:before {
  content: "\e9b2";
}

.ap-icon-file-play:before {
  content: "\e9b3";
}

.ap-icon-file-play2:before {
  content: "\e9b4";
}

.ap-icon-file-video:before {
  content: "\e9b5";
}

.ap-icon-file-video2:before {
  content: "\e9b6";
}

.ap-icon-file-zip:before {
  content: "\e9b9";
}

.ap-icon-file-zip2:before {
  content: "\e9ba";
}

.ap-icon-file-xml:before {
  content: "\e9bb";
}

.ap-icon-file-xml2:before {
  content: "\e9bc";
}

.ap-icon-file-css:before {
  content: "\e9bd";
}

.ap-icon-file-css2:before {
  content: "\e9be";
}

.ap-icon-file-presentation:before {
  content: "\e9bf";
}

.ap-icon-file-presentation2:before {
  content: "\e9c0";
}

.ap-icon-file-stats:before {
  content: "\e9c1";
}

.ap-icon-file-stats2:before {
  content: "\e9c2";
}

.ap-icon-file-locked:before {
  content: "\e9c3";
}

.ap-icon-file-locked2:before {
  content: "\e9c4";
}

.ap-icon-file-spreadsheet:before {
  content: "\e9c5";
}

.ap-icon-file-spreadsheet2:before {
  content: "\e9c6";
}

.ap-icon-copy4:before {
  content: "\e9c8";
}

.ap-icon-stack:before {
  content: "\e9cd";
}

.ap-icon-folder:before {
  content: "\e9d0";
}

.ap-icon-folder2:before {
  content: "\e9db";
}

.ap-icon-folder5:before {
  content: "\e9e7";
}

.ap-icon-folder-open2:before {
  content: "\e9e8";
}

.ap-icon-folder6:before {
  content: "\e9e9";
}

.ap-icon-folder-open3:before {
  content: "\e9ea";
}

.ap-icon-equalizer3:before {
  content: "\eb5d";
}

.ap-icon-cogs:before {
  content: "\eb60";
}

.ap-icon-bin3:before {
  content: "\ebff";
}

.ap-icon-bin4:before {
  content: "\ec00";
}

.ap-icon-clipboard3:before {
  content: "\ec52";
}

.ap-icon-list:before {
  content: "\ec59";
}

.ap-icon-grid:before {
  content: "\ec5d";
}

.ap-icon-grid6:before {
  content: "\ec62";
}

.ap-icon-sort-alpha-asc:before {
  content: "\ee4c";
}

.ap-icon-sort-alpha-desc:before {
  content: "\ee4d";
}

.ap-icon-checkbox-checked:before {
  content: "\ee66";
}

.ap-icon-square:before {
  content: "\ee69";
}

.ap-icon-checkbox-unchecked2:before {
  content: "\ee6f";
}

.ap-icon-checkbox-partial2:before {
  content: "\ee70";
}

.ap-icon-make-group:before {
  content: "\ee7d";
}

.ap-icon-file-pdf:before {
  content: "\ef3e";
}

.ap-icon-file-openoffice:before {
  content: "\ef3f";
}

.ap-icon-file-word:before {
  content: "\ef40";
}

.ap-icon-file-excel:before {
  content: "\ef41";
}

.ap-icon-alert-circle:before {
  content: "\e900";
}

.ap-icon-alert-octagon:before {
  content: "\e901";
}

.ap-icon-alert-triangle:before {
  content: "\e902";
}

.ap-icon-archive1:before {
  content: "\e903";
}

.ap-icon-chevron-down:before {
  content: "\e904";
}

.ap-icon-chevron-left:before {
  content: "\e905";
}

.ap-icon-chevron-right:before {
  content: "\e906";
}

.ap-icon-chevron-up:before {
  content: "\e907";
}

.ap-icon-chevrons-down:before {
  content: "\e908";
}

.ap-icon-chevrons-left:before {
  content: "\e909";
}

.ap-icon-chevrons-right:before {
  content: "\e90a";
}

.ap-icon-chevrons-up:before {
  content: "\e90b";
}

.ap-icon-clipboard:before {
  content: "\e90c";
}

.ap-icon-columns:before {
  content: "\e90d";
}

.ap-icon-copy:before {
  content: "\e90e";
}

.ap-icon-credit-card:before {
  content: "\e90f";
}

.ap-icon-crop:before {
  content: "\e910";
}

.ap-icon-download-cloud:before {
  content: "\e911";
}

.ap-icon-edit:before {
  content: "\e912";
}

.ap-icon-edit-2:before {
  content: "\e913";
}

.ap-icon-edit-3:before {
  content: "\e914";
}

.ap-icon-external-link:before {
  content: "\e915";
}

.ap-icon-eye:before {
  content: "\e916";
}

.ap-icon-eye-off:before {
  content: "\e917";
}

.ap-icon-file:before {
  content: "\e918";
}

.ap-icon-file-minus1:before {
  content: "\e919";
}

.ap-icon-file-plus1:before {
  content: "\e91a";
}

.ap-icon-file-text:before {
  content: "\e91b";
}

.ap-icon-film:before {
  content: "\e91c";
}

.ap-icon-filter:before {
  content: "\e91d";
}

.ap-icon-folder1:before {
  content: "\e91e";
}

.ap-icon-folder-minus:before {
  content: "\e91f";
}

.ap-icon-folder-plus:before {
  content: "\e920";
}

.ap-icon-globe:before {
  content: "\e921";
}

.ap-icon-grid1:before {
  content: "\e922";
}

.ap-icon-hard-drive:before {
  content: "\e923";
}

.ap-icon-help-circle:before {
  content: "\e924";
}

.ap-icon-home:before {
  content: "\e925";
}

.ap-icon-image:before {
  content: "\e926";
}

.ap-icon-inbox:before {
  content: "\e927";
}

.ap-icon-info:before {
  content: "\e928";
}

.ap-icon-layers:before {
  content: "\e929";
}

.ap-icon-layout:before {
  content: "\e92a";
}

.ap-icon-link:before {
  content: "\e92b";
}

.ap-icon-link-2:before {
  content: "\e92c";
}

.ap-icon-list1:before {
  content: "\e92d";
}

.ap-icon-loader:before {
  content: "\e92e";
}

.ap-icon-lock:before {
  content: "\e92f";
}

.ap-icon-map:before {
  content: "\e930";
}

.ap-icon-map-pin:before {
  content: "\e931";
}

.ap-icon-maximize:before {
  content: "\e932";
}

.ap-icon-maximize-2:before {
  content: "\e933";
}

.ap-icon-meh:before {
  content: "\e934";
}

.ap-icon-minimize:before {
  content: "\e935";
}

.ap-icon-minimize-2:before {
  content: "\e936";
}

.ap-icon-minus-circle:before {
  content: "\e937";
}

.ap-icon-minus-square:before {
  content: "\e938";
}

.ap-icon-monitor:before {
  content: "\e939";
}

.ap-icon-more-horizontal:before {
  content: "\e93a";
}

.ap-icon-more-vertical:before {
  content: "\e93b";
}

.ap-icon-mouse-pointer:before {
  content: "\e93c";
}

.ap-icon-move:before {
  content: "\e93d";
}

.ap-icon-music:before {
  content: "\e93e";
}

.ap-icon-paperclip:before {
  content: "\e93f";
}

.ap-icon-plus-circle:before {
  content: "\e940";
}

.ap-icon-plus-square:before {
  content: "\e941";
}

.ap-icon-printer:before {
  content: "\e942";
}

.ap-icon-refresh-ccw:before {
  content: "\e943";
}

.ap-icon-refresh-cw:before {
  content: "\e944";
}

.ap-icon-repeat:before {
  content: "\e945";
}

.ap-icon-save:before {
  content: "\e946";
}

.ap-icon-scissors:before {
  content: "\e947";
}

.ap-icon-search:before {
  content: "\e948";
}

.ap-icon-server:before {
  content: "\e949";
}

.ap-icon-settings:before {
  content: "\e94a";
}

.ap-icon-share-2:before {
  content: "\e94b";
}

.ap-icon-shield:before {
  content: "\e94c";
}

.ap-icon-sidebar:before {
  content: "\e94d";
}

.ap-icon-sliders:before {
  content: "\e94e";
}

.ap-icon-toggle-left:before {
  content: "\e94f";
}

.ap-icon-toggle-right:before {
  content: "\e950";
}

.ap-icon-tool:before {
  content: "\e951";
}

.ap-icon-trash:before {
  content: "\e952";
}

.ap-icon-trash-2:before {
  content: "\e953";
}

.ap-icon-unlock:before {
  content: "\e954";
}

.ap-icon-upload-cloud:before {
  content: "\e955";
}

.ap-icon-user:before {
  content: "\e956";
}

.ap-icon-user-check:before {
  content: "\e957";
}

.ap-icon-user-minus:before {
  content: "\e958";
}

.ap-icon-user-plus:before {
  content: "\e959";
}

.ap-icon-user-x:before {
  content: "\e95a";
}

.ap-icon-users:before {
  content: "\e95b";
}

.ap-icon-x-circle:before {
  content: "\e95c";
}

.ap-icon-x-octagon:before {
  content: "\e95d";
}

.ap-icon-x-square:before {
  content: "\e95e";
}

.ap-icon-youtube:before {
  content: "\e95f";
}

.ap-icon-zoom-in:before {
  content: "\e960";
}

.ap-icon-zoom-out:before {
  content: "\e961";
}

/*# sourceMappingURL=style.css.map */
